/* ==========================================================================
   Top navbar structure
   ========================================================================== */

// Structure
$navbar-height: 60px;

// Import styling for individual dropdowns
@import 'nav-dropdowns';

#main-header {
    position: fixed;
    z-index: 970;
    top: 0;
    left: 0;
    right: 0;
    height: $navbar-height + 60;
}

#top-nav {
    height: $navbar-height;
    width: 100%;
    background: $brand-inverse;

    .container {
        height: 100%;
    }

    /* Shared general structure
    ========================================================================== */
    .nav-list {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        > li {
            display: inline-block;
            > a {
                display: inline-block;
                font-weight: bold;
                font-size: 30px;
                line-height: 1;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                &:hover, &:focus, &:active {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            &.dropdown-wrap {
                > a:not([class*='ion-']) {
                    &:after {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 4px;
                        font-family: 'Ionicons';
                        content: '\f123';
                        font-size: 7px;
                        padding: 0 1px;
                    }
                }
            }
        }
        .dropdown-wrap.open .dropdown-toggle {
            color: #C3CFD8 !important;
            //    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3) inset;
            background-color: #31373D !important;
            //    border-color: lighten($brand-inverse, 1) !important;
            &:after {
                //    transform: rotate(180deg);
            }
        }
    }

    /* Left-nav specific style
    ========================================================================== */
    #nav-left {
        float: left;
        i {
            height: 24px;
            a {
                padding: 0;
                margin-right: 25px;
                border: 0 none;
                &:after {
                    display: inline-block;
                    height: 24px;
                    width: 24px;
                    // TODO: retina version
                }
                &:hover {
                    border: 0 none;
                }
                &:hover:after {
                }
            }
        }
        > li > a {
            padding: 10px 12px;
            margin-right: 15px;
            color: $gray-light;
            &:after {
                backface-visibility: hidden;
                transition: transform $transition-speed $transition-timing;
            }
            &:hover {
            //    color: #fff;
                color: #fff;
            //    background-color: lighten($brand-inverse, 3) !important;
            //    border-color: lighten($brand-inverse, 18) !important;
            }
        }
        .dropdown-wrap.open .dropdown-toggle {
            color: #fff !important;
        //    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3) inset;
            background-color: #31373D !important;
        //    border-color: lighten($brand-inverse, 1) !important;
            &:after {
            //    transform: rotate(180deg);
            }
        }
    }

    /* Right-nav specific
    ========================================================================== */
    #nav-right {
        float: right;
        > li {
            > a {
                padding: 7px 9px;
                color: $gray-dark;
                font-size: 18px;
            //    margin-left: 5px;
                margin-left: 1px;
                &:hover {
                    color: $gray;
                }
                &.ion-android-apps {
                    font-size: 21px; // balance with other ones
                    padding: 6px 10px;
                    margin-left: 0;
                }
            }
            &:last-child > a {
                padding-right: 7px;
                margin-right: -7px;
            }

            // Avatar
            #nav-gravatar {
                &:hover {
                    border-color: transparent !important;
                }
                &:after {
                    margin-top: 0;
                    margin-left: 2px;
                }
                > img {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                }
            }
        }
        .dropdown-wrap.open .dropdown-toggle {
        //    color: $gray-light;
        }
    }
}
