<div class="container" id="home-wrapper">
    <div class="row">
        <div class="col-sm-9 pr-sm">

            <!-- Venues -->
            <div class="row quick-links">
                <div class="col-sm-4 pr-sm">
                    <div class="card mb0">
                        <a href="/user/add-todo" class="card-content p0 tc text-gd hover-p">
                            <i class="ion-plus-circled block text-p pt" style="font-size:42px"></i>
                            <h3 class="pb-lg text-normal">Add todo</h3>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 ph-sm">
                    <div class="card mb0">
                        <a href="/user/account" class="card-content p0 tc text-gd hover-p">
                            <i class="ion-person block text-p pt" style="font-size:42px"></i>
                            <h3 class="pb-lg text-normal">My account</h3>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 pl-sm">
                    <div class="card mb0">
                        <a href="/user/todos" class="card-content p0 tc text-gd hover-p">
                            <i class="ion-clipboard block text-p pt" style="font-size:42px"></i>
                            <h3 class="pb-lg text-normal">My Todos</h3>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Dashboard introduction -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card mb0">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-12 bb mb-xl">
                                    <h1 class="pb text-normal">Welcome to WHATDO</h1>
                                    <p class="mb-xl">Text notifications, email notifications, location based reminders. WHATDO app
                                    provides a full-circle product for improved productivity.
                                    </p>
                                </div>
                                <div class="col-sm-4 center">
                                    <h4 class="text-primary text-md pb">Can I set a due date?</h4>
                                    <p>Yes. <span class="text-semibold text-g">All todos</span> can set a due date via the reminder
                                        <span class="text-semibold text-g">option</span>.</p>
                                </div>
                                <div class="col-sm-4 center">
                                    <h4 class="text-primary text-md pb">What files are supported for uploads?</h4>
                                    <p><span class="text-semibold text-g">All major file types.</span> PDFs, Word Documents, Images, Powerpoints <span class="text-semibold text-g">and many more</span>.</p>
                                </div>
                                <div class="col-sm-4 center">
                                    <h4 class="text-primary text-md pb">What's coming next?</h4>
                                    <p>A <span class="text-semibold text-g">Mobile Apps</span> are under development.
                                        <span class="text-semibold text-g">Soon</span> you can create, delete and update todos on your <span class="text-semibold text-g">mobile phone</span>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-sm-3 pl">
            <div class="card card-aside mb0">
                <h4>Tools</h4>
                <div class="card-content">
                    <a target="_blank" href="mailto:hello@yoshprogramming.com?subject=I%20experienced%20an%20issue"
                       class="block mb-sm">Report an issue</a>
                </div>
                <h4>Common actions</h4>
                <div class="card-content">
                    <a href="/user/account" class="block mb-sm">View my account</a>
                    <a target="_blank" href="mailto:hello@yoshprogramming.com?subject=Feature%20Suggestion" class="block mb-sm">Suggest feature</a>
                </div>
                <h4>Mobile Apps</h4>
                <div class="card-content">
                    <!--<a class="no-external" href="#" target="_blank">-->
                        <!--<img width="120" src="https://devimages.apple.com.edgekey.net/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg">-->
                    <!--</a>-->
                    <!--<a class="no-external" href="#" target="_blank">-->
                        <!--<img class="mt-sm" width="120" src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png">-->
                    <!--</a>-->
                    <span>Coming soon!</span>
                </div>
            </div>
        </div>
    </div>
</div>
